@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-color: black;
  color: white;
}
a {
  display: inline-block;
}
.main_header {
  color: brown;
}
.layout_header {
  font-weight: 700;
}
.layout_header span {
  color: brown;
  font-weight: 400;
}
.navigate {
  z-index: 100;
  position: sticky;
  top: 6rem;
  display: flex;
  gap: 2px;
  width: 10%;
}
.navigate_link {
  font-size: 0.9rem;
  opacity: 0.5;
}
.navigate_link:hover {
  opacity: 1;
}
.home_link {
  border-radius: 10px;
  opacity: 0.1;
  padding: 0.8rem;
}
.home_link:hover {
  border: 1px solid white;
  opacity: 1;
}
.movies {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.movie {
  cursor: pointer;
  margin-top: 2rem;
  text-align: left;
  position: relative;
}
.movie_img {
  border: none;
  border-radius: 10px;
}
.movie_desc {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}
.movie:hover .movie_img {
  opacity: 0.08;
}
.movie:hover .movie_desc {
  display: block;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer_text {
  opacity: 0.3;
}
